<div class="spotify__top-nav">
  <div class="spotify__top-nav_focus_title">
    <ul class="spotify__to-nav_auth">
      <li><button class="forward_btn"><</button></li>
      <li><button class="backward_btn">></button></li>
      <li><input type="search" name="" id="" placeholder="Search"></li>
    </ul>
  </div>
  <div>

  </div>
  <div class="spotify__top-nav-auth">
      <div class="spotify__top-nav_auth_sign-up">Sign Up</div>
      <div class="spotify__top-nav_auth_login" (click)="onNavigateToLogin()">Login</div>
  </div>
</div>
